body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
}

:root {
  --form-bg-color: rgba(75, 75, 75, 0.35);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ion-icon {
  font-size: 2.8vw;
}

footer {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

h1 {
  font-family: 'Condiment', cursive;
  text-align: center;
  text-shadow: 2px 2px 10px grey;
}

.book {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content:  flex-start;
  background-color: grey;
}

.page {
  height: 80%;
  min-height: 80vh;
  width: 85%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 5px solid black;
  border-left: 0;
  background-image: url(https://res.cloudinary.com/htc0pkenr/image/upload/v1578047472/flu1uxtamrns0gdrxtot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.nav {
  width: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-wrapper {
  align-items: baseline;
  justify-content: center;
  z-index: 0;
}

.loginnav-wrapper {
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.loginnav-wrapper > button {
  margin-left: 10px;
  margin-right: 10px;
}
.username {
  font-size: 5vh;
  text-decoration: underline;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.rotated {
  transform: rotate(90deg);
}

.btn {
  background-color: rgb(0, 9, 85);
  color: rgb(167, 200, 223);
  border-radius: 10px;
}

.btn-btm {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn-delete {
  background-color: rgb(70, 1, 1);
}

.innerPage {
  height: 100%;
  background-color: rgba(207, 199, 189, 0.9);
  background-image: url(https://res.cloudinary.com/htc0pkenr/image/upload/v1578178407/tdeqxg9bjylldrhniiqv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mainSection {
  height: 100%;
  min-height: 80vh;
  border-top-right-radius: 10px;
  text-align: center;

}
.center {
  display: flex;
  justify-content: center;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 3px 3px 5px grey;
}

.error {
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 1px 1px red;
}
.form > label {
  color: black;
  font-size: 2.4vw;
}

.formLight > label {
  color: rgb(215, 217, 255);
  font-size: 2.4vw;
}

.formLight > input {
  background-color: black;
}

input {
  text-align: center;
}

.innerPage {
  display: flex;
  align-items: center;
}

form {
  width: 50%;
}

.verticalFlex {
  flex-direction: column;
}

.card {
  width: 50%;
  background-color: rgb(235, 221, 202);
}

.icon {
  color: black;
}


input#username {
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#password{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#email{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#name{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#species{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#age{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#gender{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#health{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#attack{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#defense{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#speed{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#magic{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
input#ability{
  color: white;
  font-size: 2.8vw;
  background-color: var(--form-bg-color);
  border-radius: 15px;
}
